body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: large;
}
.playersContainer {
  display: flex;
}

.player {
  padding: 20px;
  font-size: xx-large;
}

.boardContainer {
  display: flex;
  margin: 20px;
  background: lightgray;
  height: 500px;
  width: 500px;
  flex-wrap: wrap;
}

.square {
  display: flex;
  box-sizing: border-box;
  border: solid 1px black;
  flex-basis: 33.33%;
  justify-content: center;
  align-items: center;
  /* border: black solid 1px; */
  /* flex-wrap: wrap; */
  font-size: 100px;
  height: 33.33%;
}
