* {
  background-color: #aebee8;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  font-size: large;
  padding: 10px;
}

.changeName,
#startNew {
  background-color: #f2f6ff;
  border-radius: 5px;
}
.playersContainer {
  display: flex;
}

.changeName {
  margin: 15px;
  margin-bottom: 5px;
}

.player {
  padding: 20px;
  font-size: xx-large;
}

.player1,
.player2 {
  font-size: 40px;
  background-color: #f2f6ff;
  border-radius: 10px;
  padding: 10px;
  height: 50px;
}

.boardContainer {
  display: flex;
  margin: 20px;
  background: lightgray;
  height: 500px;
  width: 500px;
  flex-wrap: wrap;
  /* border: solid px red; */
}

.square {
  background: #c5cfe9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  box-sizing: border-box;
  border: solid 1px black;
  flex-basis: 33.33%;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  height: 33.33%;
}

.winner {
  font-size: xx-large;
  padding-bottom: 30px;
}

.gameControls {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-grow: 0;
}

#startNew {
  margin: auto;
  width: 120px;
  height: 60px;
}
